@page
@model Portfolio.Pages.Code.ScottFalboCodeModel
@{
}

<h1>Code</h1>
<div class="homepage-container code-mainpage">
    <div class="left-col">
        <figure>
            <img class="selfie" src="@Model.HomePage.Selfie" alt="Photo of Scott Falbo" />
            <figcaption class="tag-line">@Model.HomePage.Title</figcaption>
        </figure>
        <section class="desktop-menu">
            <partial name="SiteNavButtons/_CodePageNav" />
        </section>
    </div>

    <div class="right-col">
        <article class="intro">@Model.HomePage.Intro</article>
        <section class="coding-projects">
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                @foreach (var project in Model.Projects)
                {
                    @if (project.Display)
                    {

                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="@project.AccordionId">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#@project.CollapseId" aria-expanded="true"
                                   aria-controls="collapseOne1" class="eye-check">
                                    <h5 class="mb-0">
                                        @project.Title <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                    <div class="gallery-header-eye">
                                        <div class="gallery-eye @($"{project.CollapseId}_eye") closed-gallery-eye"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="@project.CollapseId" class="@(project.Order == 0 ? "collapse show" : "collapse")" role="tabpanel" aria-labelledby="@project.AccordionId" data-parent="#accordionEx">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                    }
                }
            </div>
            <!-- Accordion wrapper -->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="popup-toggle-button">
                    <button class="module-open-button open-project-admin">° ° °</button>
                </div>
            }
        </section>
        <section class="mobile-menu">
            <partial name="SiteNavButtons/_MainPageNav" />
        </section>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_PopupToggle" />
    }
</div>

