@model Portfolio.Pages.SecretLairModel

<section class="project-admin">
    @foreach (var homepage in Model.HomePages)
    {
        <h1>@homepage.Page</h1>
        <div class="project-admin-card">
            <section>
            <figure><img src="@homepage.Selfie" /></figure>
            <form asp-page-handler="UpdateSelfie" method="post" enctype="multipart/form-data">
                <label>
                    <input name="file" type="file" />
                    <input type="submit" value="Update Image" />
                    <input type="hidden" asp-for="HomePage.Id" value="@homepage.Id" />
                    <input type="hidden" asp-for="HomePage.FileName" value="@homepage.FileName" />
                </label>
            </form>
            </section>
            <section>
                <form asp-page-handler="Edit" method="post">
                    <div>
                        <input type="text" asp-for="HomePage.Title" class="form-control" placeholder="@homepage.Title" value="@homepage.Title"/>
                    </div>
                    <div>
                        <textarea type="text" cols="45" rows="5" asp-for="HomePage.Intro" class="form-control" placeholder="@homepage.Intro"></textarea>
                    </div>
                    <div>
                        <input type="hidden" asp-for="HomePage.Id" value="@homepage.Id" />
                        <input type="hidden" asp-for="HomePage.FileName" value="@homepage.FileName" />
                        <input type="hidden" asp-for="HomePage.Page" value="@homepage.Page" />
                        <input type="hidden" asp-for="HomePage.Selfie" value="@homepage.Selfie" />
                        <input class="admin-button" type="submit" value="Update" />
                    </div>
                </form>
            </section>
        </div>
    }
</section>
