@model Portfolio.Pages.Admin.TattooLairModel

<section>
    @foreach (var tattoo in Model.TattooList)
    {
        <div class="project-admin-card">
            <section>
                <figure><img src="@tattoo.ImageURL" /></figure>
                <form asp-page-handler="UpdateImage" method="post" enctype="multipart/form-data">
                    <label>
                        <input name="file" type="file" />
                        <input type="submit" value="Update Image" />
                        <input type="hidden" asp-for="Tattoo.FileName" value="@tattoo.FileName" />
                        <input type="hidden" asp-for="Tattoo.Id" value="@tattoo.Id" />
                    </label>
                </form>
            </section>

            <div>
                <form asp-page-handler="Edit" method="post">
                    <div>
                        <input type="text" asp-for="Tattoo.Order" class="form-control" placeholder="@tattoo.Order" value="@tattoo.Order" />
                    </div>
                    <div>
                        <input type="radio" asp-for="Tattoo.Display" class="form-control" value="@tattoo.Display" />
                    </div>
                    <input type="hidden" asp-for="Tattoo.Id" value="@tattoo.Id" />
                    <div><input class="admin-button" type="submit" value="Update" /></div>
                </form>
            </div>

            <div>
                <form asp-page-handler="delete" asp-route-Id="@tattoo.Id" method="post">
                    <input type="hidden" asp-for="Tattoo.Id" value="@tattoo.Id" />
                    <input class="admin-button" type="submit" value="Remove" />
                </form>
            </div>
        </div>
    }
</section>