
<h2>&lt;Projects&gt;</h2>

<div class="project-inner">

    @foreach (var project in Model.ProjectList)
    {
        <article class="project-container">
            <h3>@project.Title</h3>
            <figure>
                <img src="@project.SourceURL" alt="@project.AltText" />
                <figcaption class="project-caption">@project.Description</figcaption>
                <div class="project-link">
                    <a href="@project.RepoLink" target="_blank">&lt;GitHub Repo&gt;</a>
                </div>
                @if (project.DeployedLink != null)
                {
                    <div class="project-link">
                        <a href="@project.DeployedLink" target="_blank">&lt;Deployed Site&gt;</a>
                    </div>
                }
            </figure>
        </article>
    }
</div>
<img src="https://www.codewars.com/users/scottfalbo/badges/large"  height="30"/>
