@page
@model Portfolio.Pages.Art.ScottFalboArtModel
@{
    ViewData["Title"] = "Scott Falbo Art";
}

<partial name="Art/_ArtMenu" />

<div class="homepage-container">
    <div class="left-col">
        <figure>
            <img class="selfie" src="@Model.HomePage.Selfie" alt="Photo of Scott Falbo" />
            <figcaption class="tag-line">@Model.HomePage.Title</figcaption>
        </figure>
        <section class="desktop-menu">
            <partial name="SiteNavButtons/_ArtPageNav" />
            <figure>
                <img src="https://via.placeholder.com/200X100" />
            </figure>
        </section>

    </div>

    <div class="right-col">
        <article class="intro">@Model.HomePage.Intro</article>
        <section class="galleries">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                @foreach (var gallery in Model.Galleries)
                {
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="@gallery.AccordianId">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#@gallery.CollapseId" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="mb-0">
                                    @gallery.Title <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="@gallery.CollapseId" class="@(gallery.Order == 0 ? "collapse show" : "collapse")" role="tabpanel" aria-labelledby="@gallery.AccordianId"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                @foreach (var image in gallery.GalleryImages)
                                {
                                    <img src="@image.Image.ImageURL" />
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                }
            </div>
            <!-- Accordion wrapper -->
            <div class="popup-toggle-button">
                <button class="module-open-button open-gallery-admin">° ° °</button>
            </div>
        </section>

        <section class="mobile-menu">
            <partial name="SiteNavButtons/_MainPageNav" />
        </section>
        <figure class="mainpage-art-mobile">
            <img src="~/images/eye.png" />
        </figure>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_PopupToggle" />
    }
</div>


@if (User.Identity.IsAuthenticated)
{
    <div class="fullscreen popup-module-outer hide-me">
        <div class="popup-module-inner">
            <div class="admin-module">
                <section>
                    <figure><img src="@Model.HomePage.Selfie" /></figure>
                    <form asp-page-handler="UpdateSelfie" method="post" enctype="multipart/form-data">
                        <label>
                            <input name="file" type="file" />
                            <input type="submit" value="Update Image" class="site-button" />
                            <input type="hidden" asp-for="HomePage.Id" value="@Model.HomePage.Id" />
                            <input type="hidden" asp-for="HomePage.FileName" value="@Model.HomePage.FileName" />
                        </label>
                    </form>
                </section>
                <section>
                    <form asp-page-handler="Edit" method="post">
                        <div>
                            <input type="text" asp-for="HomePage.Title" class="form-control" placeholder="@Model.HomePage.Title" value="@Model.HomePage.Title" />
                        </div>
                        <div>
                            <textarea type="text" cols="45" rows="5" asp-for="HomePage.Intro" class="form-control" placeholder="@Model.HomePage.Intro"></textarea>
                        </div>
                        <div>
                            <input type="hidden" asp-for="HomePage.Id" value="@Model.HomePage.Id" />
                            <input type="hidden" asp-for="HomePage.FileName" value="@Model.HomePage.FileName" />
                            <input type="hidden" asp-for="HomePage.Page" value="@Model.HomePage.Page" />
                            <input type="hidden" asp-for="HomePage.Selfie" value="@Model.HomePage.Selfie" />
                            <input class="site-button" type="submit" value="Update" />
                        </div>
                    </form>
                </section>
                <button class="module-close-button site-button">close</button>
            </div>
        </div>
    </div>
    <div class="fullscreen gallery-module-outer hide-me">
        <div class="popup-module-inner">
            <div class="gallery-admin-module">
                <section>
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                        @foreach (var gallery in Model.Galleries)
                        {
                            <!-- Accordion card -->
                            <div class="card">
                                <!-- Card header -->
                                <div class="card-header" role="tab" id="@gallery.AdminAccordianId">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#@gallery.AdminCollapseId" aria-expanded="true"
                                       aria-controls="collapseOne1">
                                        <h5 class="mb-0">
                                            @gallery.Title <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>
                                <!-- Card body -->
                                <div id="@gallery.AdminCollapseId" class="@(gallery.Order == 0 ? "collapse show" : "collapse")" role="tabpanel" aria-labelledby="@gallery.AdminAccordianId"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        @foreach (var image in gallery.GalleryImages)
                                        {
                                            <img src="@image.Image.ImageURL" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->
                        }
                    </div>
                    <!-- Accordion wrapper -->
                </section>
                <section>
                    add gallery form
                </section>
                <button class="module-close-button site-button">close</button>
            </div>
        </div>
    </div>
}

