@model Portfolio.Pages.Art.TattoosModel

<section id="Gallery-Control" class="carousel slide" data-ride="carousel" data-interval="0">
    <div>
        <partial name="Art/_TattooThumbs" />
    </div>
    <div class="@(!Model.IsLoaded ? "show-gallery" : "") tattoo-gallery" id="gallery-switch">
        <div class="carousel-inner">
            @foreach (var tattoo in Model.Tattoos)
            {
                <figure class="carousel-item @(tattoo == Model.Tattoos[Model.Limit - 12] ? "active" : "")">
                    <img class="d-block w-100" src="@tattoo.ImageURL" alt="@tattoo.Title" />
                </figure>
            }
            <div class="close-gallery">✖</div>
        </div>
        <a class="carousel-control-prev" href="#Gallery-Control" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        

        @if (Model.Loadable)
        {
            <a class="carousel-control-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <form asp-page-handler="LoadFromCarousel" method="post" class="carousel-control-next">
                <input type="hidden" asp-for="Limit" value="@Model.Limit" />
                <input type="hidden" asp-for="IsLoaded" value="@Model.IsLoaded" />
                <input type="submit" value="Load More" class="carousel-control-next-icon" />
            </form>
        }
        else
        {
            <a class="carousel-control-next" href="#Gallery-Control" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        }

    </div>
</section>